<%= image_tag @user.image,  style: 'border-radius: 50%' %>
  <br>
  <br>
    <%= @user.first_name %>
    <%= @user.username %>
  <br>
  <div class="profile-stats">
    <%= @user.posts.count %> posts
    <%= @user.total_followers %> followers
    <%= @user.total_following %> following
  </div>

  <%= form_tag follow_user_path, method: :post do %>
    <%= hidden_field_tag :follow_id %>
    <%= submit_tag "Follow" %>
    <% end %>
  <br>
    <% @user.posts.each do |post| %>
    <%= link_to (image_tag post.image, style:'width:500px'), post_path(post) %>
  <% end %>

