
<%= current_user.email %>
<div class="profile-stats"><%= current_user.posts.count %> posts</div>
<div class="profile-stats"><%= current_user.total_followers %> followers</div>
<div class="profile-stats"><%= current_user.total_following %> following</div>

<p><%= current_user.description %></p>
<p><%= current_user.website %></p>


