<h1><%= @style.name %></h1>

<p><%= link_to "create new category", new_category_path(@category) %></p>

<% if @style.categories.any? %>
  <h4>Here are the categories for this style:</h4>

  <% @style.categories.each do |category| %>
    <ul>
      <li>
      <%= link_to category.name, category_path(category) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <P>No categories are listed for this style.</p>
<% end %>

<p><%= button_to "Edit Style",
                  edit_style_path(@style),
                  method: :get %></p>

<p><%= button_to "Delete Style",
                  style_path(@style),
                  method: :delete %></p>

<p><%= button_to "Return to Styles Page",
                  styles_path(@style),
                  method: :get %></p>