<div class="feed">
  <div class="comment">
    <% @post.each do |post| %>
      <%= link_to (image_tag post.image, style:'width:450px'), post_path(post) %>
    <div class="comments">
      <%= link_to (image_tag post.user.image, style:'width:30px'), profile_path(post.user.username) %>
      <%= link_to post.user.username, profile_path(post.user.username) %>
      <%= time_ago_in_words post.created_at %>
      <%= post.total_likes %> likes 
      <i class="fa fa-heart like-<%= post.id %> fa-2x like-post" data-id="<%= post.id %>"></i>
      <%= simple_format post.description %>
      
      <p><%= button_to "Delete post", post_path(@post),
                        method: :delete %></p>
                        
    </div>

    
      <p><strong>Comments</strong></p>
      <% post.comments.each do |comment| %>   
    <div class="comment">
      <%= link_to (image_tag comment.user.image, style:'width:30px'), profile_path(comment.user.username) %>
      <%= link_to comment.user.username, profile_path(comment.user.username) %>
      <%= time_ago_in_words comment.created_at %>
       
      <p><%= button_to "Delete Comment",
      comment_path(@post, @comments),
      method: :delete %></p>
      
      <br>
      <%= comment.comment %>
    </div>
    <% end %>
      <div class="mb-3">
        <div class="form-group">
          <%= form_for Comment.new do |f| %>
          <%= f.hidden_field :post_id, value: post.id  %>
          <%= f.text_area :comment, size: '66', placeholder: "add comment here",class: "form-control" %>
          <%= f.submit "Post", class: "btn btn-success" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
