<%= render "layouts/errors", :object => @category %>
  <div class="form-group">
    <%= form_for [@style, @category] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <p><%= f.submit %></p>
    <% end %>
<p><%= button_to "Return to style",
                  styles_path(@style),
                  method: :get %></p>
