<%= render "layouts/errors", :object => @style %>
  <div class="form-group">
    <%= form_for @style do |f| %>
    <%= f.label :style %>
    <%= f.text_field :name %>
  </div>
    <p><%= f.submit %></p>
  <% end %>